@import url(http://fonts.googleapis.com/css?family=Amatic+SC|Indie+Flower|Poiret+One);
@import url(meyer.css);
@import url(../js/sidr/dist/stylesheets/jquery.sidr.light.css);

body p, body, a {
    font-family: 'Indie Flower', cursive;
}

html {
  height: 100%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

nav {
    background-color: #ffffff;
    margin: 10px 0;
}

nav ul {
    margin-right: 10%;
    float: right;
    display: inline;
}

nav li {
    float: right;
    margin: 10px 0 0 0;
    display: inline;
    max-height: 0;
    font-size: 25px;
}

nav li a {
    padding: 15px;
    color: #111111;
    text-decoration: none;
}

.fa-bars {
    float: right;
    z-index: -1;
    opacity: 0;
}

@media screen and (max-width: 1000px) {
    .fa-bars {
        margin: 6px 10% 0 0;
        float: right;
        z-index: 0;
        opacity: 100;
    }
    nav ul {
        display: inline;
        z-index: -1;
        width: 0;
        height: 0;
        opacity: 0;
    }
}

#left-align {
    font-family: 'Poiret One', cursive;
    font-size: 40px;
    text-decoration: none;
    color: #0088ff;
    margin: 0 0 0 15%;
}

nav ul li :hover {
    color: #0088ff;
    transition: color 1.0s ease; 
    -webkit-transition: color 1.0s ease;
    text-decoration: none;
}

#hero {
    height: 600px;
    clear: both;
    background: #222222;
    text-align: center;
    margin: 0 auto;
}

#hero img {
    margin: 55px 0 35px 0;
    border-radius: 145px;
}

#hero .info-box {
    width: 40%;
    margin: 0 auto;
    font-family: 'Poiret One', cursive;
    text-align: center;
    color: #eeeeee;
}

#hero h3 {
    margin: 20px 0 0 0;
    font-size: 40px;
    font-weight: normal;
}

#hero h5 {
    margin: 5px 0 0 0;
    font-weight: normal;
    font-size: 25px;
}

#hero p {
    margin: 20px 0 0 0;
    font-size: 25px;
    color: #aaaaaa;
}

#hero ul {
    margin: 0 auto;
}

#hero ul li {
    display: inline;
}

#hero .octocat, #hero .linkedin {
    height: 25px;
    width: 25px;
    padding: 35px;
    background-size: 60px;
}

#hero .octocat {
    margin: 10px 20px 0 0;
    background: url('/assets/images/GitHub-Mark-Light-64px.png') center top no-repeat;
}

#hero .linkedin {
    margin: 10px 0 0 20px;
    background: url('/assets/images/In-White-66px-R.png') center top no-repeat;
}

.columns-3 {
    width: 80%;
    margin: 0 auto;
}

#info {
    height: 500px;
    background-color: #ffffff;
}

#info .panel {
    width: 30%;
    height: 250px;
    margin: 100px 1.5%;
    float: left;
    font-size: 25px;
    text-align: center;
    background-color: #ffffff;
}

@media screen and (max-width: 915px) {
    #info {
        height: 700px;
        vertical-align: center;
    }

    #info .panel {
        float: none;
        width: 90%;
        height: auto;
        margin: 80px auto ;
        font-size: 25px;
        text-align: center;
        background-color: #ffffff;
    }
}

#info h3 {
    margin: 10px 0 15px 0;
    font-family: 'Poiret One', cursive;
    font-size: 35px;
    font-weight: bold;
    color: #0088ff;
    border-bottom: 2px solid #0088ff;
}

#info p {
    margin: 5px 30px;
}

.clear-float {
    clear: both;
}

footer {
    width: 100%;
    height: 50px;
    right: 0;
    bottom: 0;
    left: 0;
    position: absolute;
    text-align: center;
    color: #cccccc;
    background-color: #333333;
}

footer p {
    margin: 0;
    padding-top: 15px;
}

footer a {
    color: #0088ff;
    text-decoration: none;
}
