@import url(http://fonts.googleapis.com/css?family=Dosis|Poiret+One);
@import url(../js/sidr/dist/stylesheets/jquery.sidr.light.css);

/*
 *Reset CSS
 */

* {
  box-sizing: inherit;
}

html, body, div, h1, h2, h3, h4, h5, h6, p, 
a, img, i, ul, li, footer, header, nav {
        margin: 0;
        padding: 0;
        border: 0;
        font-size: 100%;
        font: inherit;
        vertical-align: baseline;
}

footer, header nav {
        display: block;
}
body {
        height: 100%;
        line-height: 1;
        min-width: 550px;
        min-height: 100%;
}

body p, body a {
    font-family: 'Dosis', sans-serif;
}

html {
  height: 100%;
  box-sizing: border-box;
}

ul {
        list-style: none;
}

#wrapper {
    position: relative;
    min-height: 100%;
}

/*
 * Navbar CSS
 */

nav {
    background-color: #ffffff;
    margin: 10px 0;
}

nav ul {
    margin: 8px 10% 0 0;
    float: right;
}

nav li {
    display: inline;
    font-size: 25px;
}

nav li a {
    padding: 15px;
    color: #111111;
    text-decoration: none;
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
}

nav li a:hover {
    color: #0088ff;
}

.menu-bars, .fa-bars:before {
    float: right;
    display: none;
}

@media screen and (max-width: 1000px) {
    .menu-bars, .fa-bars:before {
        margin: 3px 10% 0 0;
        display: block;
    }
    nav li {
        display: none;
    }
}

#left-align {
    font-family: 'Poiret One', cursive;
    font-size: 40px;
    text-decoration: none;
    color: #0088ff;
    margin: 0 0 0 15%;
}

/*
 * First section CSS
 */

#hero {
    height: 600px;
    background: #222222;
    text-align: center;
    margin: 0 auto;
}

#hero img {
    margin: 55px 0 35px 0;
    border-radius: 145px;
}

#hero .info-box {
    width: 40%;
    font-family: 'Poiret One', cursive;
    text-align: center;
    color: #eeeeee;
}

#hero h3 {
    margin: 20px 0 0 0;
    font-family: 'Poiret One', cursive;
    font-size: 40px;
    font-weight: normal;
    color: #ffffff;
}

#hero h5 {
    margin: 5px 0 0 0;
    font-family: 'Poiret One', cursive;
    font-weight: normal;
    font-size: 25px;
    color: #ffffff;
}

#hero p {
    margin: 20px 0 0 0;
    font-size: 25px;
    color: #aaaaaa;
}

#hero li {
    display: inline;
    height: 25px;
    width: 25px;
    margin: 0 20px 10px 20px;
}

#hero a {
    color: #ffffff;
    transition: all 0.5s ease-in;
    -webkit-transition: all 0.5s ease-in;
}

#hero a:hover {
    color: #0088ff;
}

/*
 * Second section CSS
 */

#info {
    height: 500px;
    background-color: #ffffff;
}

#info .panel {
    width: 30%;
    height: 250px;
    margin: 100px 1.5%;
    float: left;
    font-size: 25px;
    text-align: center;
    background-color: #ffffff;
}

@media screen and (max-width: 915px) {
    #info {
        height: 700px;
        vertical-align: center;
    }

    #info .panel {
        float: none;
        width: 90%;
        height: auto;
        margin: 80px auto ;
    }
}

#info h3 {
    margin: 10px 0 15px 0;
    font-family: 'Poiret One', cursive;
    font-size: 35px;
    font-weight: bold;
    color: #0088ff;
    border-bottom: 2px solid #0088ff;
}

#info p {
    margin: 5px 30px;
}

/*
 * Footer CSS... like, duhhhhh. 
 */

footer {
    height: 50px;
    right: 0;
    bottom: 0;
    left: 0;
    position: absolute;
    text-align: center;
    color: #cccccc;
    background-color: #333333;
}

footer p {
    margin: 0;
    padding-top: 15px;
}

footer a {
    color: #0088ff;
    text-decoration: none;
    transition: color 0.5s ease;
    -webkit-transition: color 0.5s ease;
}

footer a:hover {
    color: #99eeff;
}

.hover-test p{
    text-align: center;
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
-webkit-column-break-inside:avoid;
-moz-column-break-inside:avoid;
-o-column-break-inside:avoid;
-ms-column-break-inside:avoid;
column-break-inside:avoid;
-webkit-backface-visibility:hidden;
}

.hover-test p:hover{
-webkit-column-break-inside:avoid;
-moz-column-break-inside:avoid;
-o-column-break-inside:avoid;
-ms-column-break-inside:avoid;
column-break-inside:avoid;
-webkit-backface-visibility:hidden;
    transform: scale(2.0);
}
